[submodule "certs"]
	path = certs
	url = https://github.com/SojournLabs/certs.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/SojournLabs/gcc
[submodule "netboot"]
	path = netboot
	url = https://github.com/SojournLabs/netboot
[submodule "golang"]
	path = golang
	url = https://github.com/SojournLabs/golang.git
[submodule "senginx"]
	path = senginx
	url = https://github.com/SojournLabs/senginx.git
[submodule "squashfs_tools_docker"]
	path = squashfs_tools_docker
	url = https://github.com/SojournLabs/squashfs_tools_docker.git
[submodule "confluence"]
	path = confluence
	url = https://github.com/SojournLabs/confluence
[submodule "ambassador"]
	path = ambassador
	url = https://github.com/SojournLabs/ambassador.git
