[Unit]
Description=%p
After=docker.service
After=etcd.service
Requires=etcd.service
StopWhenUnneeded=true

[Service]
EnvironmentFile=/etc/environment
Environment=EMISSARY_NAME=%p
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/bin/bash -c "export EMISSARY_SH_NAME=${EMISSARY_NAME}; /usr/bin/docker run -p 100 --rm --name %p -v /var/run/docker.sock:/var/run/docker.sock -v /home/core/certs:/vapr/certstore:ro -v /home/core/keys/${HOSTNAME}.server.key:/vapr/keys/${HOSTNAME}.server.key:ro sojournlabs/ambassador server $${EMISSARY_SH_NAME%-*}@%i ${NETWORK_IP}"
ExecStop=/usr/bin/docker stop %p
