[Unit]
Description=Bootserver
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill bootserver
ExecStartPre=-/usr/bin/docker rm bootserver
ExecStartPre=-/usr/bin/docker pull busybox
ExecStart=/usr/bin/docker run --rm --expose 8800 --name bootserver -v /home/core/ipxe_server:/bootserver -w /bootserver busybox /bin/sh -c "(cd /; gunzip -c /bootserver/bootserver.tar.gz | tar xf -); bootserver"
ExecStop=/usr/bin/docker stop bootserver