[Unit]
Description=Bootserver
After=docker.service
Before=bootserver-ambassador@%i.service
Requires=bootserver-ambassador@%i.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --expose 8800 --name %p -v /home/core/ipxe_server:/bootserver -w /bootserver busybox /bin/sh -c "(cd /; gunzip -c /bootserver/bootserver.tar.gz | tar xf -); bootserver; exit 0"
ExecStop=/usr/bin/docker exec %p /bin/sh -c 'kill -s SIGINT $(pidof bootserver)'

[X-Fleet]
Conflicts=%p@*.service
MachineOf=bootserver-ambassador@%i.service
MachineMetadata=bootserver=true