[Unit]
Description=Boot proxy exposing a vapr bootserver to the Internet.
After=docker.service
After=bootserver_emissary@bootproxy.service
Requires=bootserver_emissary@bootproxy.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill bootproxy
ExecStartPre=-/usr/bin/docker rm bootproxy
ExecStartPre=-/usr/bin/docker pull busybox
ExecStart=/usr/bin/docker run -p 4747:443 -p 9090:80 --rm -v /home/core/certs/${HOSTNAME}.server.crt:/vapr/certstore/ipxeserver.crt:ro -v /home/core/keys/{HOSTNAME}.server.key:/vapr/keys/ipxeserver.server.key:ro -v /home/core/ipxe_server/boot_users.htpasswd:/vapr/boot_users --name bootproxy --link bootserver_emissary_for_bootproxy:bootserver_ambassador_client sojournlabs/boot_proxy
ExecStop=/usr/bin/docker stop bootproxy

[X-Fleet]
MachineOf=bootserver_emissary@bootproxy.service