[Unit]
Description=Confluence
After=docker.service
Before=confluence-ambassador@1.service
Requires=confluence-ambassador@1.service
After=confluence-emissary-postgres@1.service
Requires=confluence-emissary-postgres@1.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --expose 8090 --rm --name confluence --link confluence-emissary-postgres:postgres -v /etc/localtime:/etc/localtime:ro --volumes-from data_confluence sojournlabs/confluence /var/confluence/install/bin/start-confluence.sh -fg
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
MachineOf=confluence-ambassador@1.service
MachineOf=confluence-emissary-postgres@1.service
MachineMetadata=confluence=true